@import 'vendors/reset.scss';



@import '../style/00-protons/colors.scss';
@import './01-atoms/navItem.scss';
@import './01-atoms/logo.scss';
@import './01-atoms/title.scss';
@import './01-atoms/sectionTitle.scss';
@import './01-atoms/input.scss';
@import './01-atoms/barIcon.scss';
@import "./01-atoms/serchText.scss";
@import './01-atoms/presentation.scss';
@import './01-atoms/socialIcon.scss';
@import './01-atoms/image.scss';
body {
    background-image: url("http://localhost:1234/assets/bkg.png");
    background-size: 100%;
    width: 100%;
    height: 2915px;
}

@import './02-molecules/navMenu.scss';

