<div class="o-artistes">
    {{> @intro}}
    <div class="o-artistes__content">
        {{> @artiste}}
        {{> @artiste}}
        {{> @artiste}}
    </div>
    <div class="o-artistes__btn">
        {{> @button}}
    </div>
</div>